.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# World data
/server
/logs
/userData
/*.py
!/src/assets/encodeAssets.py

# Ignore files
*.private.test.ts
design/schedule.xlsx

.temp/

# config file for rclone
rclone.conf

# テストの一時使用フォルダ
work/
/coverage
