{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "^(vue/(.*)$)|^(vue$)",
    "^(vue-router/(.*)$)|^(vue-router$)",
    "^(vue-i18n/(.*)$)|^(vue-i18n$)",
    "^(quasar/(.*)$)|^(quasar$)",
    "^app/src-electron/(.*)$",
    "^([./]|src)/scripts/(.*)$",
    "^([./]|src)/assets/(.*)$",
    "^([./]|src)/i18n/(.*)$",
    "^([./]|src)/stores/(.*)$",
    "^([./]|src)/color$",
    "^([./]|src)/router/(.*)$",
    "^([./]|src)/components/(?!.*vue$).*$",
    "^([./]|src)/components/util/(.*)$",
    "^([./]|src)/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
