{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": [
    "^(vue/(.*)$)|^(vue$)",
    "^(vue-router/(.*)$)|^(vue-router$)",
    "^(vue-i18n/(.*)$)|^(vue-i18n$)",
    "^(quasar/(.*)$)|^(quasar$)",
    "^app/src-electron/(.*)$",
    "^[./]/scripts/(.*)$",
    "^src/scripts/(.*)$",
    "^[./]/assets/(.*)$",
    "^src/assets/(.*)$",
    "^[./]/i18n/(.*)$",
    "^src/i18n/(.*)$",
    "^[./]/stores/(.*)$",
    "^src/stores/(.*)$",
    "^[./]/color$",
    "^src/color$",
    "^[./]/router/(.*)$",
    "^src/router/(.*)$",
    "^[./]/components/(?!.*vue$).*$",
    "^src/components/(?!.*vue$).*$",
    "^[./]/components/util/(.*)$",
    "^src/components/util/(.*)$",
    "^[./]/components/(.*)$",
    "^src/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
