// app global css in SCSS form
p {
  font-size: 14pt;
}

// スクロールバー
html {
    overflow: overlay; 
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
::-webkit-scrollbar-track {
  background: transparent;
} 
::-webkit-scrollbar-thumb {
  background-color: rgba($color: $primary, $alpha: 0.8);
  border-radius: 100px;
}


// dark mode or light mode
body.body--light {
  background-color: lightgray;
}

body.body--dark {
  background-color: #3B3B3B;
}


// adjust font size
html {
  font-size: 100%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 110%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 120%;
  }
}


// コンテンツの表示領域を定義
.mainField {
  max-width: 1000px;
  margin: 0 auto;
}

// 表の一般的なスタイルを定義

.my-sticky-virtscroll-table {
  /* height or max-height is important */
  // height: 410px;

  .q-table__top,
  .q-table__bottom,
  thead,
  th {
    /* bg color is important for th; just specify one */
    // background-color: $primary;
    background-color: transparent;
  }

  thead tr th {
    position: sticky;
    z-index: 1;
  }

  tr th {
    font-size: 1.2rem;
  }

  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }

  thead tr:first-child th {
    top: 0;
  }

  /* prevent scrolling behind sticky top row on focus */
  tbody {
    /* height of all previous header rows */
    scroll-margin-top: 48px;
  }
  
  td {
    font-size: 1rem !important;
  }
}