// app global css in SCSS form
p {
  font-size: 14pt;
}

// スクロールバー
html {
    overflow: overlay; 
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} 
::-webkit-scrollbar-track {
    background: transparent;
} 
::-webkit-scrollbar-thumb {
    background-color: rgba($color: $primary, $alpha: 0.8);
    border-radius: 100px;
}


// dark mode or light mode
body.body--light {
  background-color: lightgray;
}

body.body--dark {
  background-color: #3B3B3B;
}