// app global css in SCSS form

// スクロールバー
html {
    overflow: overlay; 
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} 
::-webkit-scrollbar-track {
    background: transparent;
} 
::-webkit-scrollbar-thumb {
    background-color: rgba($color: black, $alpha: 0.5);
    border-radius: 100px;
}